<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CopyWords.Parsers" version="1.0.8" targetFramework="xamarinmac20" />
  <package id="HtmlAgilityPack" version="1.11.24" targetFramework="xamarinmac20" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="3.0.0" targetFramework="xamarinmac20" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="3.0.0" targetFramework="xamarinmac20" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="3.0.0" targetFramework="xamarinmac20" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="3.0.0" targetFramework="xamarinmac20" developmentDependency="true" />
  <package id="Microsoft.NETCore.Platforms" version="3.1.1" targetFramework="xamarinmac20" />
  <package id="Microsoft.NetFramework.Analyzers" version="3.0.0" targetFramework="xamarinmac20" developmentDependency="true" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="xamarinmac20" />
  <package id="Roslynator.Analyzers" version="2.3.0" targetFramework="xamarinmac20" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="xamarinmac20" developmentDependency="true" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="xamarinmac20" />
  <package id="System.Text.Encoding.CodePages" version="4.7.1" targetFramework="xamarinmac20" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="xamarinmac20" />
  <package id="System.Xml.XPath" version="4.3.0" targetFramework="xamarinmac20" />
  <package id="System.Xml.XPath.XmlDocument" version="4.3.0" targetFramework="xamarinmac20" />
</packages>